Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.1
MarkupSafe==0.18
MySQL-python==1.2.4
SQLAlchemy==0.8.3
Werkzeug==0.9.4
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
lockfile==0.9.1
newrelic==2.6.0.5
oauthlib==0.6.0
pygeocoder==1.2.1.1
requests==2.0.0
requests-oauthlib==0.3.2
six==1.4.1
twilio==3.6.4
twython==3.1.0
unittest2==0.5.1
wsgiref==0.1.2
