{% extends "layout.html" %}
{% block mapjs %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0QK-_M2rDpgZandkwonJdAmSuUMg3Vyg&sensor=false">
    </script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0.2/src/markerclusterer.js">
    </script>
    <script type="text/javascript">
      function initialize() {
        var center = new google.maps.LatLng(14.5995124, 120.9842195);

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: center,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var markers = []
        var feeds = {{ feeds }};
        for(i=0; i<feeds.length; i++){
          var feed = $.parseJSON(feeds[i]);
          var latLng = new google.maps.LatLng(feed.lat, feed.lng);
          var marker = new google.maps.Marker({
              position: latLng,
              title: feed.name
          });
          markers.push(marker)
        }
        var markerCluster = new MarkerClusterer(map, markers);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
